@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/pt-sans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans Narrow';
    src: url('../fonts/pt-sans-narrow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
 -moz-box-sizing: border-box; 
 -webkit-box-sizing: border-box; 
 box-sizing: border-box;
}
html {
  font-size: 100%;
  height: 100%;
}
body {
  background-color: #005471;
  color: #333;
  font-family: 'PT Sans';
  margin: 0;
  font-size: 1.2rem;
  height: 100%;
}
a {
  color: #f04f40;
}
h1 {
  font-size: 2em;
  color: #fff;
  text-align: center;
  font-family: 'PT Sans Narrow';
  margin: 0;
  padding: 0.25rem 0;
  font-weight: normal;
}
h2 {
  font-size: 2em;
  color: #ffe900;
  font-family: 'PT Sans Narrow';
  margin: 0;
  font-weight: lighter;
  margin: 0 0 0.8rem;
  text-transform: uppercase;
  text-align: center;
}
.content h2 {
  color: #333;
  font-size: 1.5em;
  text-align: left;
  border-bottom: 1px solid #cacacb;
  padding-bottom: 1rem;
  margin-bottom: 0;
}
#subheader {
  background: #005471 url(../images/subheader-bg.jpg) no-repeat center center;
  background-size: 100% auto;
  height: 8rem;
}
.content-wrapper {
  padding: 0.8rem;
  overflow-y: scroll;
}
div[role=main] {
/*  max-height: 100%;
  overflow-y: auto;*/
}
.content {
  background-color: #fff;
  box-shadow: 7px 7px 0 #90a0a7;
  padding: 0.8rem;
  margin-bottom: 3rem;
  width: 100%;
}

img {
  max-width: 100%;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
.clearfix {
  display: inline-block;
}
 
html[xmlns] .clearfix {
  display: block;
}
 
* html .clearfix {
  height: 1%;
}

/* Event teasers */
.teaser {
  cursor: pointer;
}
.row {
  width: 100%;
  border-bottom: 1px solid #cacacb;
  padding: 1rem 0.2rem;
}
.row.even {
  background-color: #f6f6f6;
}
.row .left {
  width: 20%;
  float: left;
  color: #f04f40;
  clear: both;
}
.row .middle {
  float: left;
  width: 70%;
}
.row.detail .middle {
  width: 80%;
}
.row .right {
  float: left;
  width: 10%;
}